<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>ChocoLux</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href="../static/css/slick-theme.css" />
  <!-- font awesome style -->
  <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />

</head>

<body>

  <div class="main_body_content">


        {% include 'header.html' %}


    <!-- about section -->

    <section class="about_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  About Our Company
                </h2>
              </div>
              <p>
               Indulge in the irresistible world of ChocoLux, where passion meets perfection. Our artisanal chocolates are crafted with meticulous care, blending rich flavors, velvety textures, and exquisite ingredients to create an extraordinary taste experience. From decadent truffles to iconic chocolate assortments, each creation is a masterpiece designed to delight the senses. Elevate your moments with the finest chocolates that reflect the artistry and dedication of ChocoLux – where every bite tells a story of uncompromising quality and unparalleled indulgence. </p>
              <a href="#">
                <span>
                  Read More
                </span>
                <img src="../static/images/color-arrow.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="../static/images/about-img.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
    <!-- end info_section -->



{% include 'footer.html' %}

  <!-- jQery -->
  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="../static/js/bootstrap.js"></script>
  <!-- slick slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- custom js -->
  <script src="../static/js/custom.js"></script>

</body>

</html>