
<!DOCTYPE html>
<html>

<head>
  <title>login</title>
  <!-- Basic -->
  <meta charset="utf-8" />


  <title>Login</title>

  <link href="../static/css/style.css" rel="stylesheet" />

   <link rel="stylesheet" type="text/css" href="../static/css/login.css" />

</head>

<body>

     {% include 'header.html' %}

     <main>

        <div class="login-container">
           <form action="login" method="post">
                <h2>Login</h2>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
               <div class="password-container">
                <label for="password">Password:</label>
                <div class="input-with-icon">
                    <input type="password" id="password" name="password" required>
                    <i class="fa fa-eye-slash" aria-hidden="true" onclick="showHidePass()"></i>
                </div>
            </div>
                {% if message %}
               {% if message != 'None' and message != none %}
                <div>
                   <p id="message_err">{{ message }}</p>
                </div>
              {% endif %}

                {% endif %}
                <button type="submit">Login</button>
                <p>Don't have an account? <a href="register">Sign up</a></p>
            </form>
        </div>
    </main>

    <!-- Include footer -->
    {% include 'footer.html' %}

  <script  src="../static/js/custom.js"></script>
  <script  src="../static/js/userFeature.js"></script>

</body>

</html>

