<!DOCTYPE html>
<html>

<head>
  <title>register</title>
  <!-- Basic -->
  <meta charset="utf-8" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

  <link href="../static/css/font-awesome.min.css" rel="stylesheet" />

   <link rel="stylesheet" type="text/css" href="../static/css/login.css" />

</head>

<body>

     {% include 'header.html' %}

     <main>

        <div class="login-container">

            <form action="register" method="post">
                <h2>Sign Up</h2>
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname" required>

                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>


                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                 <label for="password">Password:</label>
                <div class="input-with-icon">
                    <input type="password" id="password" name="password"  required>
                    <i class="fa fa-eye-slash" aria-hidden="true" onclick="showHidePass()"></i>
                </div>

                {% if message %}
                    {% if message != 'None' %}
                <div>
                   <p id="message_err">{{ message }}</p>
                </div>
              {% endif %}
                {% endif %}
                <button type="submit">Sign Up</button>
                <p>Already have an account? <a href="login">Log In</a></p>
            </form>
        </div>
    </main>

    <!-- Include footer -->
    {% include 'footer.html' %}


  <script  src="../static/js/custom.js"></script>
  <script  src="../static/js/userFeature.js"></script>


</body>

</html>
