<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
     <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/chocolate.css" />
    <title>Order Submitted</title>
  </head>
  <body>

        <h1>{{fullname}},</h1>
        <h2 id="thanks">Your Order Successfully Submitted.<br></h2>
      <h2 style="color: cadetblue">Order number: {{ order_number }}<br></h2>
      <h2> Thank you for your order, we hope you enjoy your shopping :)</h2>
    <a href="/">Click Here To Return To Home Page</a>

  </body>
</html>