<!DOCTYPE html>
<html>

<head>
  <title>register</title>
  <!-- Basic -->
  <meta charset="utf-8" />



  <link href="../static/css/style.css" rel="stylesheet" />
   <link rel="stylesheet" type="text/css" href="../static/css/login.css" />
   <link rel="stylesheet" type="text/css" href="../static/css/chocolate.css" />

</head>

<body>

     {% include 'header.html' %}

     <main>


        <div class="login-container">

        <form method="post" action="/userDetails">
        <h2>User Details</h2>
            {% if message != 'None' and message != none %}
        <div>
            <p>{{ message }}</p>
        </div>
        {% endif %}
            <input type="hidden" name="user_id" value="{{ id }}">

            <label hidden="hidden">"{{ userID }}" </label> <br>

           <label for="userId">ID:</label>
             <input  type="text" name="userId" value="{{ userId }}" readonly><br>

            <label for="firstname">First Name:</label>
             <input type="text" name="lastname" value="{{ lastname }}" required><br>

            <label for="lastname">Last Name:</label>
            <input type="text" name="lastname" value="{{ lastname }}" required><br>

            <label for="email">Email:</label>
            <input type="email" name="email" value="{{ email }}" required><br>

          <label for="username">username:</label>
            <input type="text" name="username" value="{{ username }}" required><br>

            <div class="password-container">
                <label for="password">Password:</label>
                <div class="input-with-icon">
                    <input type="password" id="password" name="password" value="{{ passwd }}" required>
                    <i class="fa fa-eye-slash" aria-hidden="true" onclick="showHidePass()"></i>
                </div>
            </div>

            <button type="submit">Update User</button>
        </form>
        </div>
    </main>

    <!-- Include footer -->
    {% include 'footer.html' %}


  <script  src="../static/js/custom.js"></script>
  <script  src="../static/js/userFeature.js"></script>


</body>

</html>
